<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actas</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos_actas.css">
    <link rel="stylesheet" href="css/fontello.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
</head>
<body>
     <!--Funcionalidades-->
     <div class="col-md-10">
        <div class="card-body justify-content-center">
          <form>
            <label id="Text_profesor">@Profesor</label>
            
            <table class="table table-bordered table-hover R2" id="T_Kar">
              <thead class="T1 text-center">
                <tr class="tabla_color" >
              
                  <th>Unidades a Impartir	</th>
                  <th>Acta de Calificaciones</th>
                 
                </tr>
              
                <tr>
              
                  <td></td>
                  <td></td>
                </tr>
              
                <tr>
              
                  <td></td>
                  <td></td>
              
                 
              
                </tr>
               


              </tbody>
            </table>
            
          </form>
        </div>
    </div>
</body>
</html>