{% extends "Plantilla.html" %}
{% load static %}
{% block Estilos %}
<link rel="stylesheet" href="{% static 'css/AsignarU-P.css' %}">
{% endblock %}
{% block Titulo %}<title>Asignación de Unidades de Aprendizaje</title>{% endblock %}
{% block Pantalla %}
            <form action="" class="R" id="Asignar_U-P">
              <div class="form-group row R2" >
                <label for="Num_E" class="col-sm-3 col-form-label"> Numero de Empleado </label>
                <input type="number" class="form-control col-sm-4 R3" id="Num_E" placeholder="1-2-3...">
              </div>
              <label for="Prof" class="R4">Profesor: @Profesor</label>
              <div class="form-group row R2">
                <label for="Unidad_As" class="col-sm-3 col-form-label"> Unidad de Aprendizaje </label>
                <select class="form-control col-sm-8 R3" id="Unidad_As">
                  <option class="is-invalid"> ... </option>
                  <option value=" ">  </option>
                  <option value=" ">  </option>
                  <option value=" ">  </option>
                  <option value=" ">  </option>
                </select>
              </div>
              <label for="" class="R5"> <span class="R5"> Horario </span>  </label>
              <div class="form-group row R2">
                <label for="Dia" class="col-sm-3 col-form-label"> Dia de Clase </label>
                <select class="form-control col-sm-8 R3" id="Dia">
                  <option class="is-invalid"> ... </option>
                  <option value="L"> Lunes </option>
                  <option value="M"> Martes </option>
                  <option value="MI"> Miercoles </option>
                  <option value="J"> Jueves </option>
                  <option value="V"> Viernes </option>
                </select>
              </div>
              <div class="form-group row R2" >
                <label for="Hora_E Hora_S" class="col-sm-3 col-form-label"> Hora de clase </label>
                <input type="number" class="form-control col-sm-3 R3" id="Hora_E" placeholder="Hora de Inicio (Ej. 11)">
                <input type="number" class="form-control col-sm-3 R7" id="Hora_S" placeholder="Hora de Termino (Ej. 14)">
              </div>
              <small> <label for="" class="R6"> Utilizar formato de 24 horas </label> </small>
              <p></p>
              <button type="submit" class="btn B1" id="btn-Asig_U" > Asignar </button>
            </form>
{% endblock %}
