<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones Profesores</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos_actas.css">
    <link rel="stylesheet" href="css/fontello.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
</head>
<body>
     <!--Funcionalidades-->
     <div class="col-md-10">
        <div class="card-body justify-content-center">
          <form>
            <div>
            <label>Boleta: @Boleta</label>
          </div>
          <div>
            <label id="Text_profesor">Alumno: @Alumno</label>
          </div>
            <table class="table table-bordered table-hover R2" id="T_Kar">
              <thead class="T1 text-center">
                <tr class="tabla_color" >

                  <th scope="col">Unidad</th>
              
                  <th>1er Parcial	</th>
                  <th>2do Parcia</th>
                  <th>3er Parcia</th>
                  <th>Final</th>
                </tr>
              
                <tr>
              
                  <td>10 </td>
              
                  <td>9</td>
              
                  <td></td>
              
                  <td></td>
                  <td></td>
              
                </tr>
              
                <tr>
              
                  <td>8</td>
              
                  <td>6</td>
              
                  <td></td>
              
                  <td></td>
                  <td></td>
              
                </tr>
                <tr>
              
                  <td>9</td>
              
                  <td>9</td>
              
                  <td></td>
              
                  <td></td>
                  <td></td>
              
                </tr>
              </tbody>
            </table>
            <div>
              <input id="boton_registrar" type="submit" value="Kardex" class="btn  reg_btn">
            </div>
          </form>
        </div>
    </div>
</body>
</html>