{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Posgrado</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-body justify-content-center">
          <img id="img-login" src="{% static 'assets/images/user.png' %}" alt="Login">
          <form>
            <label for="username">Usuario</label>
            <div class="input-group form-group">
              <input type="text" class="form-control input-login" placeholder="Ingrese boleta o número de empleado">
            </div>
            <label for="password">Contraseña</label>
            <div class="input-group form-group">
              <input type="password" class="form-control input-login" placeholder="Ingrese contraseña">
            </div>
            <div class="d-flex justify-content-center">
              <input type="submit" value="Login" class="btn login_btn">
            </div>
          </form>
          <div class="d-flex justify-content-center links">
            ¿Aún no tienes una cuenta?
          </div>
          <div class="d-flex justify-content-center">
            <input type="submit" id="btn-resgistrar" value="Resgistrar Usuario" class="btn login_btn">
          </div>
          <div class="d-flex justify-content-center links">
            Olvide mi contraseña.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>