<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos_modulos.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>


<!-- Comienza codigo parte de arriba  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="https://www.gob.mx/">
        <img id="img-gob" src="assets/images/gobmxlogo.png">
      </a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse navbar-nav justify-content-end" id="navbarSupportedContent">
				<a class="nav-item nav-link" aria-current="page" href="https://www.gob.mx/tramites">Trámites</a>
				<a class="nav-item nav-link" href="https://www.gob.mx/gobierno">Gobierno</a>  
				<a class="nav-item nav-link" href="https://www.participa.gob.mx/">Participa</a>
				<a class="nav-item nav-link" href="https://datos.gob.mx/">Datos</a>
				<a class="navbar-brand" href="https://www.gob.mx/busqueda">
					<img id="img-busqueda" src="../ProyectoV2/assets/images/lupa.png" alt="" width="25" height="17">
				</a>
		 </div>
		</div>
	</nav>
      

<!-- Termina codigo parte de arriba  -->


 <!-- Modulos  -->
 <div class="Modulos">
          <div class="Alumnos">
              <div class="M">
                <div class="card-body justify-content-center">
                  <img id="img-alumno" src="assets/images/img_alumno.png" alt="Login">
                    <div class="d-flex justify-content-center">
                      <input type="submit" value="Alumnos" class="btn login_btn">
                    </div>
                </div>
              </div>
            </div>

          <div class="Dep_posgrado">
          <div class="M">
            <div class="card-body justify-content-center">
              <img id="img-alumno" src="assets/images/posgrado.png" alt="Login">
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Departamento progrado" class="btn login_btn">
                </div>
            </div>
          </div>
        </div>

          <div class="Gestion">
            <div class="M">
              <div class="card-body justify-content-center">
                <img id="img-alumno" src="assets/images/carpeta.png" alt="Login">
                  <div class="d-flex justify-content-center">
                    <input type="submit" value="Departamento progrado" class="btn login_btn">
                  </div>
              </div>
            </div>


            <div class="Coordinadores">
              <div class="M">
                <div class="card-body justify-content-center">
                  <img id="img-alumno" src="assets/images/reunion.png" alt="Login">
                    <div class="d-flex justify-content-center">
                      <input type="submit" value="Coordinadores de posgrado" class="btn login_btn">
                    </div>
                </div>

                </div><div class="Sepi">
                  <div class="M">
                    <div class="card-body justify-content-center">
                      <img id="img-alumno" src="assets/images/recepcionista.png" alt="Login">
                        <div class="d-flex justify-content-center">
                          <input type="submit" value="Jefatura de SEPI" class="btn login_btn">
                        </div>
                    </div>
                  </div>
</div>

  </body>
  </html>

  