<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de calificaciones</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilo_reg_calificaciones.css">
  <link rel="stylesheet" href="css/fontello.css">
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>


  <!--Funcionalidades-->
    <div class="col-md-10">
        <div class="card-body justify-content-center">
          <form>
            <label id="Text_profesor">@Profesor</label>
            <div class="Tex_Unidad">
            <label for="password">Unidades de aprendizaje</label>
            <div class="input-group form-group">
              <input type="password" class="form-control input-login" >
            </div>
            </div>
            <div class="Select_Dep">
              <label for="Unidad_A" class="dep"> Departamental </label>
              <select class="form-control col-sm-8 R5" id="Unidad_A">
                <option class="is-invalid"> ... </option>
                <option value=" ">  </option>
                <option value=" ">  </option>
              </select>
            </div>
            <table class="table table-bordered table-hover R2" id="T_Kar">
              <thead class="T1 text-center">
                <tr>
                  <th scope="col">Alumnos</th>
                  <th scope="col">Calificación</th>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">  </th>
                  <th scope="col">   </th>
                </tr>
              </tbody>
            </table>
            <div>
              <input id="boton_registrar" type="submit" value="Registrar" class="btn  reg_btn">
            </div>
          </form>
        </div>
    </div>
  
</body>

</html>