<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unidad de aprendizaje</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos_unidades.css">
  <link rel="stylesheet" href="css/fontello.css">
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>

  <!--Funcionalidades-->
  <div class="col-md-10">
    <div class="card-body justify-content-center">
      <form>
        <label id="Text_profesor">@Profesor</label>
        <div class="Tex_Unidad">
        <label for="password">Clave de unidades de aprendizaje </label>
        <div class="input-group form-group">
          <input type="password" class="form-control input-login" >
        </div>
        </div>

        <div class="Tex_nombre">
          <label for="password">Nombre de la unidad de aprendizaje</label>
          <div class="input-group form-group">
            <input type="password" class="form-control input-login" >
          </div>
          </div>


        <div class="Select_Dep">
          <label for="Unidad_A" class="dep"> Tipo de unidad  </label>
          <select class="form-control col-sm-8 R5" id="Unidad_A">
            <option class="is-invalid"> ... </option>
            <option value=" ">  </option>
            <option value=" ">  </option>
          </select>
        </div>


        <div class="Select_posgrado">
          <label for="Unidad_A" class="dep">Posgrado </label>
          <select class="form-control col-sm-8 R5" id="Unidad_A">
            <option class="is-invalid"> ... </option>
            <option value=" ">  </option>
            <option value=" ">  </option>
          </select>
        </div>

      <div class="Botones">
        <div>
          <input id="boton_alta" type="submit" value="Dar de alta" class="btn  reg_btn">
        </div>
       
      </div>
      </form>
    </div>
</div>
</body>

</html>