body{
    background: url(fondo_escudo.jpg);
    height: 100%; 
}
.R{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: 'Roboto'; 
}
.R2{
    margin-top: 30px;
    font-family: 'Roboto';
}
.R3{
    border-radius: 50px;
    margin-left: -5%;
    border: 1px solid #000;
}
.R4{
    margin-top: 10px;
    font-family: 'Roboto';
}
.R5{
    font-family: 'Roboto';
    color: #672445;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}
.R6{
    color: #B595A4;
    margin-left: 20%;
}
.R7{
    border-radius: 50px;
    margin-left: 5%;
    border: 1px solid #000;
}
.B1{
    margin-left: 40%;
    background-color: #672445;
    color: #B595A4;
    border-radius: 20px;
    width: 25%;
}
