html, body {/* codigo parte de arriba */
    background-image: url();
    height: 100%;
 }
 *{
     margin: 0;
     padding: 0px;
     user-select: none;
     box-sizing: border-box;
     font-family: sans-serif;
     font-size: 15px;
 }
 .sidebar{
     position: absolute;
     width: 11%;
     height: 100%;
     left: 0px;
     background: #672445;
     z-index:0;
 }
 nav ul{
     background:#672445 ;
     height: 100%;
     width: 100%;
     list-style: none;
 }
 nav ul li{
     line-height:  30px;
     border-bottom: 3px solid rgba(141, 37, 86, 1);
 }
 nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 5px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent ;
}
.shift {
    padding-left: 45px;
 }
nav ul li a:hover{
    color:white;
    background:rgba(181, 149, 164, 0.2);
    border-left-color: white;
    
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .alumnos-show.show{
    display: block;
}
nav ul .profesor-show.show{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 11px;
    color: #e6e6e6;
    padding-left: 25px;
    line-height: 1.8;
}
nav ul li  a span{
    font-size: 10px;
    right: 20px;
}
.B6{
    background-color: #e6e6e6;
    margin-top: 5%;
    margin-left: 5%;
}
.M1{
    margin-top: 60px;
}

