.navbar{
    background-color:#EAEAEA;
    margin:0%;
    padding: 0%;
 }
#img-gob{
    vertical-align: middle;
    border-style:none;
    height: 29px;
    margin-left: 90px;
  }
#img-logosgob{
    width: 470px;
    height: 90px;
    margin-top: 0px;
    margin-left: 250px;
}
#img-poli{
    width: 255px;
    height: 67px;
}
#img-busqueda{
    margin-top: 10px;
    width: 20px;
    height: 14px;  
}
.barra{
    height: 50px;
    margin-top: 30px;
    background: #672445;
}
#img_logo_upiicsa{
    margin-top: -30%;
    vertical-align: middle;
    margin-left: -10%;
    width: 170px;
    height: auto;
    z-index:1;
    position:absolute;
 }
 #Contenido{
    display: flex;
}
 .izq{
    height: auto;
    width: 12%;
}
.der{
    font-family: 'Roboto';
    width: 80%;
    height: auto;

}
.cierre{
    color: #B595A4 !important;
    margin-bottom: 30px;
    margin-top: 20%;
    margin-left: 85%;
    margin-right: 5%;
 }
.mod3{
    font-family: 'Roboto';
    margin-top: 55%;
    color: #B595A4;
    font-size: 30px;
}
.R{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: 'Roboto'; 
}
.Titulo{
    font-size: calc(.8em + 1vw);
    color: rgba(181, 149, 164, 1);
    position: absolute;
    margin-left: 15%;
    margin-top: calc(-10px + 15px);
 }
@media all and (max-width: 1200px){
    .cierre{
        margin-left:65%;
    }
    .Titulo{
        padding: 5px;
    }
}