
 html, body {/* codigo parte de arriba */
   background-image: url(fondo_bolitas.jpg);
   height: 100%;
}


   .container-formatos{
      width: 650px;
      height: 300px;
      position: absolute;
      left: 450px;
      top: 253px;
      background: rgba(181, 149, 164, 0.21);
      border-radius: 20px;
      border: 7px solid #672445;
      border-radius: 20px;
   }

   .boleta_btn{
      color: #B595A4;
      background-color: #8D2556;
      width: 175px;
      border-radius: 50px;
      }
      .boleta_btn:hover{
      color:#B595A4;
      background-color:rgba(141, 37, 86, 0.78);
      }

   #boton_boleta{
      margin-left: 381px;
      margin-top:  200px;
   }

      #boton_SIP{
      margin-left: 65px;
         margin-top:  -66px;
      }

   #img-SIP{
      position: absolute;
      width: 140px;
      height: 140px;
      left: 400px;
      top: 35px;
   }

   #img-boleta{
      position: absolute;
      width: 140px;
      height: 140px;
      left: 85px;
      top: 35px;
   }




