body{
    background-image: url(fondo_bolitas.jpg);
    height: 100%;

}

*{
    margin: 0;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}




.R2{
    margin-top: 30px;
    font-family: 'Roboto';
}
.R3{
    border-radius: 30px;
    margin-left: 2%;
    border: 1px solid #000;
    height: 28px;
}
.R4{
    border-radius: 30px;
    margin-left: 0%;
    border: 1px solid #000;
    height: 28px;
}
.R5{
    background-color: #672445;
    color: #B595A4;
    border: 1px solid #672445;
    height: 28px;
}
.R6{
    font-family: 'Roboto';
    color: #672445;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}
.R7{
    border-radius: 30px;
    margin-left: 8%;
    border: 1px solid #000;
    height: 28px;
}
.B1{
    color: #B595A4;
    background-color: #8D2556;
    width: 212px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 520px;
    }

.B1:hover{
    color:#B595A4;
    background-color:rgba(141, 37, 86, 0.78);
}
