body{
    background: url(fondo_escudo.jpg);
    height: 100%; 
}
.R{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: 'Roboto'; 
}
.R2{
    margin-top: 50px;
}
.T1{
    background-color: #672445;
    color: #B595A4;
}