body{
    background: url(fondo_escudo.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
}
 /* Pantallas*/
.mod{
    margin-top: 10%;
    margin-left: 10%;
    color: #672445;
}
.mod2{
    margin-top: 20px;
    margin-left: 10%;
    color: #672445;
}