body{
    background: url(fondo_bolitas.jpg);
    height: 100%; 
}
.R2{
    margin-top: 30px;
    font-family: 'Roboto';
}
.R3{
    border-radius: 50px;
    margin-left: 2%;
    height: 27px;
    border: 1px solid #000;
}
.R4{
    border-radius: 50px;
    margin-left: 0%;
    border: 1px solid #000;
    height: 27px;
}
.R5{
    background-color: #672445;
    color: #B595A4;
    border: 1px solid #672445;
    height: 27px;
}
.R6{
    font-family: 'Roboto';
    color: #672445;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}
.R7{
    border-radius: 50px;
    margin-left: 8%;
    border: 1px solid #000;
    height: 27px;
}
.B1{
    margin-left: 80%;
    background-color: #672445;
    color: #B595A4;
    border-radius: 20px;
    width: 30%;
    margin-top: 20px;
}
