body{
    background: url(fondo_bolitas.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}
 .izq{
    background: #672445;
    height: auto;
    width: 15%;
}
.der{
    font-family: 'Roboto';
    width: 80%;
    height: auto;

}
#Contenido{
    display: flex;
}
.cierre{
    color: #B595A4 !important;
    margin-left: 25%;
    margin-bottom: 30px;
}
.mod3{
    font-family: 'Roboto';
    margin-top: 25%;
    color: #B595A4;
    font-size: 30px;
}
.R{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: 'Roboto'; 
}
.R2{
    margin-top: 30px;
}
.R3{
    margin-top: 50px;
}
.R4{
    border-radius: 50px;
    margin-left: 1%;
    border: 1px solid #000;
    height: 27px;
}
.T1{
    background-color: #672445;
    color: #B595A4;
}
.T2{
    margin-left: 30%;
}
.B1{
    margin-left: 40%;
    background-color: #672445;
    color: #B595A4;
    border-radius: 20px;
    width: 25%;
}
