body{
    background: url(fondo_escudo.jpg);
    height: 100%; 
}
.R{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    font-family: 'Roboto'; 
}
.R2{
    margin-top: 20px;
    font-family: 'Roboto';
}
.R3{
    border-radius: 50px;
    margin-left: 2%;
    border: 1px solid #000;
    
}
.B1{
    margin-left: 2%;
    background-color: #672445;
    color: #B595A4;
    border-radius: 20px;
    width: 60%;
}
.R4{
    margin-top: 50px;
}
.T1{
    background-color: #672445;
    color: #B595A4;
}
@media all and (max-width: 1200px){
    .R3{
        height: 27px;
    }
}
